block content  
  div.container
    div.col-sm-6.col-sm-offset-3
      h3
        span.fa.fa-sign-in  {{language.index.register}}
      form.form-wrapper(name="signupform")
        div.form-group
          label Förnamn
          input.form-control(type="text", name="firstname", ng-model="new_user.firstname" required)
        div.form-group
          label Efternamn
          input.form-control(type="text", name="lastname", ng-model="new_user.lastname" required) 
        div.form-default(ng-if="user.role==2")
            div.form-group
              label Ockupation
              input.form-control(type="integer", name="role", ng-model="new_user.role")   
        div.form-group
          label Email
          input.form-control(type="text", name="email", ng-model="new_user.email" required) 
        div.form-group
          label Lösenord
          input.form-control(type="password", name="password", ng-model="new_user.password" required)   
        button.btn.btn-warning.btn-lg(style="float: right;  margin-left:2%", ng-click="submit(signupform)") Skapa Konto
      // button.btn.btn-warning.btn-lg(style="float: right", type="redirect" onclick="location.href = '/';" ) #{language.myprofile.back}
