div#log
  div.col-sm-6.col-sm-offset-3
    h3
      span.fa.fa-sign-in  {{language.loginPage.login}}
    .alert.alert-danger(ng-if="message" ng-bind="message")
    form(name="login")
      div.form-group
        label {{language.loginPage.email}}
        input.form-control(type="email", ng-model="user.email" required ui-sref-active="logincolor")
      div.form-group
        label {{language.loginPage.password}}
        input.form-control(type="password", ng-model="user.password" required)
      button.buttonsubmit(ng-click="submit(login)") {{language.loginPage.login}}
