doctype html
html(ng-app='myApp' lang='sv')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title eSana
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')  
    link(rel='stylesheet', href='/css/styles.css')
    base(href='/')
  body(ng-controller="MainCtrl as main")
    header
      div.container
        div.jumbotron.text-center
          h1
            span.fa.fa-medkit  eSana
          div(ng-if="user")
            p(ng-bind="language.index.loggedInAs+':'+ user.firstname + ' ' + user.lastname + '  - ' +  user.local.email")
            //- If you are patient you should be able to edit your profile and fill in forms and change password
            div(ng-if="user.role == 0")
              a.btn.btn-default(href="/form") #[span.fa.fa-user {{language.index.form}}]
              a.btn.btn-default(href="/myprofile") #[span.fa.fa-user {{language.index.myprofile}}]
              a.btn.btn-default(href="/password") #[span.fa.fa-user {{language.index.password}}]
              a.btn.btn-default(href="/logout") #[span.fa.fa-user {{language.index.logout}}]
            //- If you are a doctor you should be able to create patient accounts    
            div(ng-if="user.role == 1")
              a.btn.btn-default(href="/signup") #[span.fa.fa-user {{language.index.register}}]
              a.btn.btn-default(href="/mypatients") #[span.fa.fa-user {{language.index.mypatients}}]
              a.btn.btn-default(href="/password") #[span.fa.fa-user {{language.index.password}}]
              a.btn.btn-default(href="/logout") #[span.fa.fa-user {{language.index.logout}}]
            //- If you are an administrator you should be able to create all kinds of accounts
            div(ng-if="user.role == 2")
              a.btn.btn-default(href="/signup") #[span.fa.fa-user {{language.index.register}}]
              a.btn.btn-default(href="/password") #[span.fa.fa-user {{language.index.password}}]
              a.btn.btn-default(href="/logout") #[span.fa.fa-user {{language.index.logout}}]
    ul
      li
        a(href="logout" ng-click="logout()") Logga ut
      li 
        a(ui-sref="index") Home
      li 
        a(ui-sref="patients") Patients
    .container(ui-view)
    footer
    script(src='/lib/angular/angular.js')
    script(src='/lib/ui-router/release/angular-ui-router.js')
    script(src='/lib/angular-sanitize/angular-sanitize.js')
    script(src='/lib/angular-animate/angular-animate.js')
    script(src='/lib/angular-cookies/angular-cookies.js')

    script(src='/app/ngApp.js')
    script(src='/app/auth/auth.factory.js')
    script(src='/app/main/main.controller.js')  
    script(src='/app/home/home.js')
    script(src='/app/home/home.controller.js')
    script(src='/app/patients/patients.js')
    script(src='/app/patients/patients.controller.js')
    script(src='/app/login/login.js')
    script(src='/app/login/login.controller.js')

    script(src='http://localhost:35729/livereload.js')