doctype html
html(ng-app='myApp' lang='sv')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title eSana
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')  
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300')
    base(href='/')
  body(ng-controller="MainCtrl as main" ng-class="{'login-page': state.current.name==='login'}")
    div#wrapper
      div#sidebar-wrapper
          h1.text-center
            img(ng-src='/img/Logo_White.png', width="100", ui-sref="index", style="cursor:pointer")
           
          div(ng-if="user.firstname")
            
            //- If you are patient you should be able to edit your profile and fill in forms and change password
            div(ng-if="user.role == 0")
              a.button(ui-sref="patientform" ui-sref-active="textcolorbutton") #[span.buttontext(ng-bind="language.index.form")]
              a.button(ui-sref="profile" ui-sref-active="textcolorbutton") #[span.buttontext(ng-bind="language.index.myprofile")]
              a.button(ui-sref="password" ui-sref-active="textcolorbutton") #[span.buttontext(ng-bind="language.index.password")]
              a.buttonsign(href="/logout" ng-click="logout()" ui-sref-active="textcolorbutton") #[span.buttontext(ng-bind="language.index.logout")]
            //- If you are a doctor you should be able to create patient accounts    
            div(ng-if="user.role == 1")
              a.button(ui-sref="signup" ui-sref-active="textcolorbutton") #[span.buttontext(ng-bind="language.index.register")]
              a.button(ui-sref="patients" ng-class="{'textcolorbutton': state.current.name==='patients' || state.current.name==='addoperation' || state.current.name==='patient' || state.current.name==='patientform'}") #[span.buttontext(ng-bind="language.index.mypatients")]
              a.button(ui-sref="password" ui-sref-active="textcolorbutton") #[span.buttontext(ng-bind="language.index.password")]
              a.buttonsign(href="logout" ng-click="logout()" ui-sref-active="textcolorbutton") #[span.buttontext(ng-bind="language.index.logout")]
            //- If you are an administrator you should be able to create all kinds of accounts
            div(ng-if="user.role == 2")
              a.button(ui-sref="signup" ui-sref-active="textcolorbutton") #[span.buttontext(ng-bind="language.index.register")]
              a.button(ui-sref="patients" ng-class="{'textcolorbutton': state.current.name==='patients' || state.current.name==='addoperation' || state.current.name==='patient' || state.current.name==='patientform'}") #[span.buttontext(ng-bind="language.index.mypatients")]
              a.button(ui-sref="password" ui-sref-active="textcolorbutton") #[span.buttontext(ng-bind="language.index.password")]
              a.buttonsign(href="logout" ng-click="logout()" ui-sref-active="textcolorbutton") #[span.buttontext(ng-bind="language.index.logout")]
            p(ng-bind="language.index.loggedInAs+': '+ user.firstname + ' ' + user.lastname + '  - ' +  user.local.email" style="position:absolute;bottom:0;")
              
      div#page-content-wrapper
        .container-fluid
          .row
            .col-md-12(ui-view)
    footer
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')  
    script(src='/lib/angular/angular.js')
    script(src='/lib/ui-router/release/angular-ui-router.js')
    script(src='/lib/angular-sanitize/angular-sanitize.js')
    script(src='/lib/angular-animate/angular-animate.js')
    script(src='/lib/angular-cookies/angular-cookies.js')
    
    script(src='/app/ngApp.js')
    script(src='/app/auth/auth.factory.js')
    script(src='/app/main/main.controller.js')  
    script(src='/app/home/home.js')
    script(src='/app/home/home.controller.js')
    script(src='/app/patients/patients.js')
    script(src='/app/patients/patients.controller.js')
    script(src='/app/login/login.js')
    script(src='/app/login/login.controller.js')
    script(src='/app/patientform/patientform.js')
    script(src='/app/patientform/patientform.controller.js')
    script(src='/app/profile/profile.js')
    script(src='/app/profile/profile.controller.js')
    script(src='/app/signup/signup.js')
    script(src='/app/signup/signup.controller.js')
    script(src='/app/password/password.js')
    script(src='/app/password/password.controller.js')
    script(src='/app/addoperation/addoperation.js')
    script(src='/app/addoperation/addoperation.controller.js')
    script(src='/app/formrecord/formrecord.controller.js')
    script(src='/app/formrecord/formrecord.js')
    script(src='/app/patient/patient.controller.js')
    script(src='/app/patient/patient.js')

    script(src='http://localhost:35729/livereload.js')
