.patient{
    border-radius: 10px;
    margin: 1em;
}
.expandlist{
   margin: 1em;
   padding: 1em;
   background-color: #EEE;
   border-radius: 10px;
}
.lastRecord div{
    display: none;
}
.patientList{
    list-style: none;
    padding: 0;
}
.patientList > li{
    border-style: solid;
    border-width: 1px;
    margin: 0.5em;
}
.recordList{
    display: none;
    list-style: none;
    padding: 0;
}
.patientList h3 {
  cursor: pointer;
}

.container .jumbotron {
  padding: 10px;
  margin-bottom: 10px;
}

.jumbotron h1 {
  margin: 0;
}

.buttonsign {
    display: block;
    height: 50px;
    width: 100%;
    padding-top: 5%;
    background-color: #FD7575 ;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.buttonsign:hover {
   background: #b15151;
   }

.buttonsign:link {
    text-decoration: none;
}

.button {
    display: block;
    height: 50px;
    width: 100%;
    padding-top: 5%;
    background-color: #FD7575 ;
    border-top: 1px solid white;
}

.button:hover {
   background: #b15151;
}

.button:hover .buttontext {
    color: white; 
}

.button:active {
    background: white;
}

.button:active {
    background: white;
}

.button:link {
    text-decoration: none;
}

.buttontext {
    vertical-align: middle;
    margin-left: 5%;
    color:white;
}

.textcolorbutton {
    background: white;
}

.textcolorbutton .buttontext {
    color:#FD7575 ;
}

.button:hover .buttontext {
    color: white; 
}

.buttonsubmit {
    display: block;
    padding: 2%;
    padding-right: 6%;
    padding-left: 6%;
    background-color: #FD7575 ;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid white;
    color: white;
    white-space: nowrap;
}

.buttonsubmit:hover {
   background: #b15151;
   border: 1px solid #974646;
}

.buttonsubmit:hover .buttontext{
    color: #FD7575 ;
}

.buttonsubmit:active {
   background: #974646;
   border: 1px solid #7e3a3a;
}


#wrapper {
    font-family:   'Roboto', serif;
/*    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
*/}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    color: white;
    padding-left: 10px;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #FD7575 ;
/*    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
*/}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.form-wrapper {
  width: 50%;
  min-width: 500px;
  margin: 0 auto;
}

.form-control {
    border-color: #FD7575 ;
    margin-right: auto;
    margin-left: auto;
}

p.statusBox {
	width: 30px;
	height: 30px;
	-moz-border-radius: 15px;
	border-radius: 15%;
}

.clickable{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

th .fa-sort-desc,th .fa-sort-asc{
	margin-left: 5px;
}

.login-page {
    background-color: #FD7575 ;
}

.login-page #wrapper {
    padding-left: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.login-page #sidebar-wrapper {
    display: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.headertext {
    color: white;
}

.titletext {
    margin-left: 25%;
}

.patientlisttext {
    color:grey;
}

.patientlisttext:hover {
    color: black;
    margin-right: auto;
    margin-left: auto;
}

.searchbox {
   margin-left: 77%;
}


