h3
  span.fa.fa-sign-in {{language.patient.patientdata}} 
div
  p {{language.patient.name}}: {{patient.firstname}} {{patient.lastname}}
  p {{language.patient.personalnumber}}: {{patient.personal_number}}
  p {{language.patient.address1}}: {{patient.address1}} 
  p {{language.patient.address2}}: {{patient.address2}}
  p {{language.patient.postalnumber}}: {{patient.postalno}} 
  p {{language.patient.city}}: {{patient.city}}
  p {{language.patient.phone}}: {{patient.mobile}}
  p {{language.patient.email}}: {{patient.local.email}}
  
  
  h3 {{language.surgeryInfo.operations}}
  table#operationTable.table.table-hover
    thead
      tr  
        th {{language.formrecord.date}}
        th {{language.surgeryInfo.surgery}}
        th {{language.surgeryInfo.hospital}}
        th {{language.surgeryInfo.department}}
        th {{language.surgeryInfo.notes}}
    tbody
      tr(ng-repeat="operation in patient.surgeries")
       td 
          | {{operation.date}}
       td 
          | {{operation.operation}}
       td 
          | {{operation.hospital}}
       td 
          | {{operation.department}}
       td 
          | {{operation.comments}}
  
  
  h3 {{language.formrecord.formdata}}
  table#formTable.table.table-hover
    thead
      tr  
        th {{language.formrecord.date}}
        th {{language.formrecord.pain}}
        th {{language.formrecord.painKillers}}
        th {{language.formrecord.nausea}}
        th {{language.formrecord.narcosis}}
        th {{language.formrecord.dailyActivities}}
        th {{language.formrecord.routine}}
        th {{language.formrecord.satisfied}}
        th {{language.formrecord.worstThing}}
        th {{language.formrecord.assess}}
      
    tbody
      tr(ng-repeat="form in patient.formrecords")
        td 
          | {{form.date}}
        td 
          | {{form.pain}}
        td 
          | {{form.painKillers}}
        td 
          | {{form.nausea}}
        td 
          | {{form.narcosis}}
        td 
          | {{form.dailyActivities}}
        td 
          | {{form.routine}}
        td 
          | {{form.satisfied}}
        td 
          | {{form.worstThing}}
        td 
          | {{form.assess}}
