h3
  span {{language.formrecord.formdata}}: 
div
  p Smärta: {{record.pain}}
  p Smärtstillande: {{record.narcosis}}
  p Illamående: {{record.nausea}}
  p Narkos/bedövning: {{record.narcosis}}
  p Vardagsaktiviteter: {{record.dailyActivities}}
  p Rutin: {{record.routine}}
  p Återhämtning: {{record.satisfied}}
  p Värst: {{record.worstThing}}
  p Utvärdering: {{record.assess}}
  p Datum: {{record.date}}