form.form-wrapper(name="passwordform")
  .alert.alert-danger(ng-show="message" ng-bind="message")
  div.form-group
    label {{language.password.password}}
    input.form-control(type="password" name="password" ng-model="pass.password" required)

  div.form-group
    label {{language.password.confirmPassword}}
    input.form-control(type="password" name="confirmpassword" ng-model="pass.confirmpassword" required)   

  button.buttonsubmit(ng-click="submit(passwordform)") {{language.password.save}}

