extends ../layout
block content
	.container.text-center
		div.col-sm-6.col-sm-offset-3 
		h2  
			//-- Will show the personal number of the patient later on
			span.fa  Patient : #{user.personal_number}
		p 
			//- Right now, no real functions
			//- a(href="/") #[span.fa #{language.doctor.editpatient}] 
			.btn.btn-default.btn-lg
				a(href="/surgeryInfo") #[span.fa #{language.doctor.surgery}]
			.btn.btn-default.btn-lg
				a#nav-form(href="/") #[span.fa #{language.doctor.form}]