extends layout

block content
  if (messages.length>0)
    div.alert.alert-danger= messages[0]

  div.container
    div.jumbotron.text-center
        h1
          span.fa.fa-medkit  "Patient : "
        p

        //-- Right now, no real functions
		a.btn.btn-default(href="/") #[span.fa.fa-user #{language.doctor.editpatient}]
		a.btn.btn-default(href="/") #[span.fa.fa-user #{language.doctor.surgeryinfo}]
		a.btn.btn-default(href="/") #[span.fa.fa-user #{language.doctor.form}]
