extends ../layout

block content
 div.container
  div.col-sm-6.col-sm-offset-3 
   h2  
     span.fa.fa-sign-in  "Patient's name"  
      //--input.form-control(type="button" value="Tillbaka" style="float: right" onclick="location.href = '/';")