extends ../layout

block content
  
  div.container
    div.col-sm-6.col-sm-offset-3
      h1
        span.fa.fa-sign-in  Logga in
      form(action="/login", method="post")
        div.form-group
          label Email
          input.form-control(type="text", name="email")
        div.form-group
          label Lösenord
          input.form-control(type="password", name="password")
        button.btn.btn-warning.btn-lg(type="submit") Logga in

  
