extends ../layout
block content
 div.container
  div.col-sm-6.col-sm-offset-3 
  h2  
   span  Ändra lösenord -  
   span= user.local.email   

 table(border="1", bordercolor="darkblue", style="width:500px")
  h3
  form(action='', method="post", style="margin-left:2%")
   tr
     input(type="hidden", name="id", value=user.id)
    
     td 
        span(style="font-size:20px") Ange ditt nya lösenord här   
        p  
        div.form-group
          label Lösenord
          input.form-control(type="password", name="password")
       
        div.form-group
          label bekräfta lösenord
          input.form-control(type="password", name="password")   

        button.btn.btn-default(style="float: right", type="submit") Inkomma
        input.form-control(type="button" value="Tillbaka" style="float: right" onclick="location.href = '/myprofile';")
