extends ../layout
block content
 div.container
  div.col-sm-6.col-sm-offset-3 
   h2  
     span.fa.fa-sign-in  Byta lösenord 
   h3
    form(action='', method="post")
       input(type="hidden", name="id", value=user.id)
   
       div.form-group
          label Lösenord
          input.form-control(type="password", name="password")
       
       div.form-group
          label Bekräfta lösenord
          input.form-control(type="password", name="confirmpassword")   

        button.btn.btn-warning.btn-lg(style="float: right; margin-left:2%", type="submit") Spara

      button.btn.btn-warning.btn-lg(style="float: right", type="redirect" onclick="location.href = '/myprofile';" ) Tillbaka
        
