extends ../layout
block content
 div.container
  div.col-sm-6.col-sm-offset-3 
  h2  
   span  Ändra lösenord - #{user.local.email}  

 table(border="1", bordercolor="darkblue", style="width:400px; margin-left:2%")
  h3
  form(action='', method="post")
   tr
     input(type="hidden", name="id", value=user.id)
    
     td 
        span(style="font-size:20px") Ange ditt nya lösenord här   
        p  
        div.form-group
          label Lösenord
          input.form-control(type="password", name="password" style="width:200px")
       
        div.form-group
          label bekräfta lösenord
          input.form-control(type="password", name="confirmpassword" style="width:200px")   

        button.btn.btn-default(style="float: right", type="submit") Inkomma
        input.form-control(type="button" value="Tillbaka" style="float: right; width:100px; background-color:lightgray" onclick="location.href = '/myprofile';")
