div.input-group.searchbox
  input(type="text" ng-model="search.$")
  button
    i.glyphicon.glyphicon-search

table#patientTable.table.table-hover
  thead
    tr  
      th.clickable(ng-click="predicate='status'; reverse=!reverse") Status
        i.fa(ng-class="{'fa-sort-desc': predicate==='status'&&reverse, 'fa-sort-asc': predicate==='status'&&!reverse}")
      th.clickable(ng-click="predicate='personal_number'; reverse=!reverse") {{language.patientListing.personalnumber}}
        i.fa(ng-class="{'fa-sort-desc': predicate==='personal_number'&&reverse, 'fa-sort-asc': predicate==='personal_number'&&!reverse}") 
      th.clickable(ng-click="predicate='firstname'; reverse=!reverse") {{language.patientListing.name}}
        i.fa(ng-class="{'fa-sort-desc': predicate==='firstname'&&reverse, 'fa-sort-asc': predicate==='firstname'&&!reverse}") 
      th.clickable(ng-click="predicate='formrecords.length'; reverse=!reverse"){{language.patientListing.completedforms}}
        i.fa(ng-class="{'fa-sort-desc': predicate==='formrecords.length'&&reverse, 'fa-sort-asc': predicate==='formrecords.length'&&!reverse}") 
      th.clickable(ng-click="predicate='formrecords[0].date'; reverse=!reverse") {{language.patientListing.latestform}}
        i.fa(ng-class="{'fa-sort-desc': predicate==='formrecords[0].date'&&reverse, 'fa-sort-asc': predicate==='formrecords[0].date'&&!reverse}") 
      th

  tbody
    tr(ng-repeat="patient in patientRecords | orderBy:predicate:reverse | filter:search" popover)
      td
        p(class="statusBox" style="background-color: {{getStatusColor(patient._id)}}" data-toggle="tooltip" data-placement="top" title="{{getStatusText(patient._id)}}") 
      td 
        a.patientlisttext(ng-click="viewPatient(patient._id)" style="cursor: pointer") {{patient.personal_number}}
      td 
        a.patientlisttext(ng-click="viewPatient(patient._id)" style="cursor: pointer") {{patient.firstname + " " + patient.lastname}} 
      td 
       button.btn.btn-info(type="button" data-trigger="focus" data-toggle="popover" data-placement="right" title="Ifyllda formulär" data-content="{{patient.displayRecords}}") {{patient.formrecords.length}}
      td 
        a.patientlisttext( ng-click="formrecord(patient.formrecords[0]._id, patient._id)"  style="cursor: pointer") {{patient.formrecords[patient.formrecords.length-1].date | date : 'yyyy-MM-dd HH:mm'}}
      td
        button.btn.btn-info(type="button" ng-click="addOperation(patient._id)") + Operation
      td
        button.btn.btn-info(type="button" ui-sref="patientform({ patient_id: patient._id })") + Formulär
