h3
  span.fa.fa-sign-in {{language.index.mypatients}}
  
table#patientTable.table.table-hover
  thead
    tr  
      th 
        a(href="" ng-click="predicate='personal_number'; reverse=!reverse") {{language.patientListing.personalnumber}}
      th 
        a(href="" ng-click="predicate='firstname'; reverse=!reverse") {{language.patientListing.name}}
      th 
        a(href="" ng-click="predicate='formrecords.length'; reverse=!reverse"){{language.patientListing.completedforms}}
      th 
        a(href="" ng-click="predicate='formrecords[0].date'; reverse=!reverse") {{language.patientListing.latestform}}
      th

  tbody
    tr(ng-repeat="patient in patientRecords | orderBy:predicate:reverse" popover)
      td 
        a(href='/api/patients/{{patient._id}}') {{patient.personal_number}}
      td 
        button.btn.btn-info.name(type="button" ng-click="viewPatient(patient._id)") {{patient.firstname + " " + patient.lastname}} 
      td 
       button.btn.btn-info(type="button" data-trigger="focus" data-toggle="popover" data-placement="right" title="Ifyllda formulär" data-content="{{patient.displayRecords}}") {{patient.formrecords.length}}
      td 
        a( ng-click="formrecord(patient.formrecords[0]._id, patient._id)") {{patient.formrecords[0].date | date : 'yyyy-MM-dd HH:mm'}}
      td
        button.btn.btn-info(type="button" ng-click="addOperation(patient._id)") + Operation