h3
  span.fa.fa-sign-in{{language.index.mypatients}}

table#patientTable.table.table-hover
  thead
    tr  
      th {{language.patientListing.personalnumber}}
      th {{language.patientListing.name}}
      th {{language.patientListing.completedforms}}
      th {{language.patientListing.latestform}}
      th

  tbody
    tr(ng-repeat="patient in patientRecords" popover)
      td 
        a(href='/api/patients/{{patient._id}}') {{patient.personal_number}}
      td 
        a(href='/api/patients/{{patient._id}}') {{patient.firstname + " " + patient.lastname}} 
      td 
       button.btn.btn-info(type="button" data-trigger="focus" data-toggle="popover" data-placement="right" title="Ifyllda formulär" data-content="{{patient.displayRecords}}") {{patient.formrecords.length}}
      td 
        a(href='/api/patients/{{patient._id}}/formrecords/{{patient.formrecords[0]._id || "undefined"}}') {{patient.formrecords[0].date | date : 'yyyy-MM-dd HH:mm'}}
      td
        button.btn.btn-info(type="button" ng-click="addOperation(patient._id)") + Operation
