doctype html
html(lang='sv')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-theme.min.css')
      link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')  
      link(rel='stylesheet', href='/css/styles.css')
    block js
      script(src='/lib/jquery/dist/jquery.min.js')
      script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
      script(src='/js/mypatients.js')
      script(src='http://localhost:35729/livereload.js')
  body
    each error in errors
      div.alert.alert-danger= error
    each success in successes
      div.alert.alert-success= success
    block content
    
    
