extends layout

block content
    h1 Mina Patienter
    
    ul.patientList
        each patient in patients
            li.patient 
                h2
                    = patient.firstname                         
                ul.recordList  
                    h3.recordListTitle Inlämnade formulär
                    each record in patient.records
                        li 
                            a(href='/mypatients/records/'+record.id) 
                                = record.id