h3.text-center  
  span {{language.surgeryInfo.surgeryinfo}}  

form.form-wrapper(name="newOperationForm")
  div.form-group
    label {{language.surgeryInfo.surgery}}
    input.form-control(type="text", name="operation", ng-model="patient.operation" required) 

  div.form-group
    label {{language.surgeryInfo.department}}
    input.form-control(type="text", name="department", ng-model="patient.department" required) 

  div.form-group
    label {{language.surgeryInfo.hospital}}
    input.form-control(type="text", name="hospital", ng-model="patient.hospital" required) 

  div.form-group
    label {{language.surgeryInfo.notes}}
    textarea.form-control(name="comments", rows="5", cols="50", ng-model="patient.comments")
  button.buttonsubmit(ng-click="addOperation(newOperationForm)") {{language.myprofile.save}}